<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>habits</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <h1>Edit <%=habit.name%></h1>
    <nav>
        <ul class="nav nav-tabs">
                <a class="nav-link" href="/habits/"><li class="nav-item">Back to main</li></a>
        </ul>
    </nav>
    <form action="/habits/<%= habit._id%>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value="<%=habit.name%>"><br>
        Description: <textarea name="description"><%=habit.description%></textarea><br>
        Category: <input type="text" name="category" value="<%=habit.category%>"><br>
        <input type="submit" value="Update">
    </form>
</body>
</html>