<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>habits</title>
</head>
<body>
    <h1>habits</h1>
    <a href="/login">Login</a>
    <a href="/login/register">Register</a>
    <% if (user.firstName) { %>
        <br>
        <p>Hello <%= user.firstName %></p>
        <a href="/habits/new">Add a new habit</a>
        <ul>
            <%for (let i = 0; i < habits.length; i++) {%>
                <li>
                    <a href="/habits/<%= habits[i].id%>"><%= habits[i].name%></a>
                    -
                    <a href="/habits/<%= habits[i].id%>/new">Did it!</a>
                    -
                    <a href="/habits/<%= habits[i].id%>/edit">Edit</a>
                </li>
                <ul>
                    <% for (let ic = 0; ic < habits[i].completions.length; ic ++) { %>
                    <li><p><%= habits[i].completions[ic].date%></p></li>
                    <% } %>
                </ul>
                <% } %>
        </ul>
    <% } %>
</body>
</html>