<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>habits</title>
</head>
<body>
    <h1><%=habit.name%></h1>
    <nav>
        <ul class="nav nav-tabs">
                <a class="nav-link" href="/habits/"><li class="nav-item">Back to main</li></a>
                <a class="nav-link" href="/habits/<%= habit._id%>/edit"><li class="nav-item">Edit habit</li></a>
                <a class="nav-link" href="/habits/<%= habit._id%>/new"><li class="nav-item">Add a completion</li></a>
                <a class="nav-link" href="/login/logout"><li class="nav-item">Logout</li></a>
        </ul>
    </nav>
    <p>
        <form action="/habits/<%= habit._id%>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Habit">
        </form>
    </p>
    <p>Description: <%= habit.description%></p>
    <p>Category: <%= habit.category%></p>
    <% if (habit.completions.length > 0 ) { %>
        <table>
            <tr>
                <th>Date</th>
                <th>Notes</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <% for (let i = 0; i < habit.completions.length; i++) { %>
                <tr>
                    <th><%= habit.completions[i].date.toLocaleDateString('en-us', { weekday:"long", year:"numeric", month:"short", day:"numeric"})%></th>
                    <th><%= habit.completions[i].notes%></th>
                    <th><a href="/habits/<%= habit._id%>/<%= habit.completions[i]._id%>/edit">Edit</a></th>
                    <th>
                        <form action="/habits/<%= habit._id%>/<%= habit.completions[i]._id%>?_method=DELETE" method="POST">
                            <input type="submit" value="Delete">
                        </form>
                    </th>
                </tr>
            <% } %>
        </table>
    <% } %>
</body>
</html>